{% extends 'partials/base.html' %}
{% block content %}
{% load static %}
<title>{% block title %}Billie Moto | About us{% endblock %}</title>
<div class="team-area light-bg-s pt-70 pb-40">
    <div class="container">
        <div class="row mb-35">
            <div class="col-xl-12">
                <div class="abs-section-title text-center">
                    <span>BILLIE MOTO TEAM</span>
                    <h4>Meet Our Team</h4>
                    <p>Our mission is to provide the best customer experience in the automotive industry by making auto equipment, gears, and accessories available right at your doorstep.<br> So come with us in our journey as we ply the road for a better tomorrow with our valued vehicles.</p>
                </div>
            </div>       
        </div>
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                <div class="single-team text-center mb-30">
                    <div class="team-image mb-35 w-img">
                        <div class="inner-timg">
                            <a href="">
                                <img src="{% static 'assets/img/team/person-6.jpg' %}" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="tauthor-degination mb-15">
                        <h5><a href="" style="color: #2D4059; font-size: smaller;">Augustus Jeshua Galit</a></h5>
                        <span>Content Writer</span><br>
                        <span>Founder</span>
                    </div>
                    <div class="team-social">
                        <a href="https://www.facebook.com/augustus.galit.589" target="_blank"><i class="fab fa-facebook-f"></i></a>
                        <a href="https://twitter.com/home" target="_blank"><i class="fab fa-twitter"></i></a>
                        <a href="https://www.youtube.com/" target="_blank"><i class="fab fa-youtube"></i></a>
                    </div>
                </div> 
            </div>



            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                <div class="single-team text-center mb-30">
                    <div class="team-image mb-35 w-img">
                        <div class="inner-timg">
                            <a href="">
                                <img src="{% static 'assets/img/team/person-3.jpg' %}" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="tauthor-degination mb-15">
                        <h5><a href="" style="font-size: 25px; color: #2D4059;">Alvin Rubiales</a></h5>
                        <span style="color: brown; font-size: 20px;">Full Stack Developer</span><br>
                        <span>Front-end Developer</span><br>
                        <span>Back-end Developer</span><br>
                        <span>CEO & Founder</span>
                    </div>
                    <div class="team-social">
                        <a href="https://www.facebook.com/ALVINRUBIALES29" target="_blank"><i class="fab fa-facebook-f"></i></a>
                        <a href="https://twitter.com/home" target="_blank"><i class="fab fa-twitter"></i></a>
                        <a href="https://www.youtube.com/" target="_blank"><i class="fab fa-youtube"></i></a>
                    </div>
                </div>
            </div>



            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                <div class="single-team text-center mb-30">
                 <div class="team-image mb-35 w-img">
                    <div class="inner-timg">
                        <a href="">
                            <img src="{% static 'assets/img/team/person-10.png' %}" alt="">
                        </a>
                    </div>
                </div>
                <div class="tauthor-degination mb-15">
                    <h5><a href="" style="color: #2D4059; font-size: smaller;">Jesse Carlo Altobar</a></h5>
                    <span> Quality Assurance (QA) Tester</span><br>
                    <span> Information Architect</span><br>
                    <span>Founder</span>
                </div>
                <div class="team-social">
                    <a href="https://www.facebook.com/crlxltbr/" target="_blank"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://twitter.com/home" target="_blank"><i class="fab fa-twitter"></i></a>
                    <a href="https://www.youtube.com/" target="_blank"><i class="fab fa-youtube"></i></a>
                </div>
            </div>
            </div>



            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 offset-xl-4 offset-lg-2">
            <div class="single-team text-center mb-30">
                <div class="team-image mb-35 w-img">
                    <div class="inner-timg">
                        <a href="">
                            <img src="{% static 'assets/img/team/person-5.jpg' %}" alt="">
                        </a>
                    </div>
                </div>
                <div class="tauthor-degination mb-15">
                    <h5><a href="" style="color: #2D4059; font-size: smaller;">John Angelo Eduria</a></h5>
                    <span>Color Specialist</span><br>   
                    <span>Founder</span>
                </div>
                <div class="team-social">
                    <a href="https://www.facebook.com/yuri.eduria.140" target="_blank"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://twitter.com/home" target="_blank"><i class="fab fa-twitter"></i></a>
                    <a href="https://www.youtube.com/" target="_blank"><i class="fab fa-youtube"></i></a>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}