{% extends 'partials/base.html' %}
{% block content %}
{% load static %}
<title>{% block title %}Billie Moto | Category List{% endblock %}</title>
       <!-- news-detalis-area-start -->
       <div class="news-detalis-area mt-10 mb-10">
        <div class="container">
            <div class="row">
                <div class="col-xl-8 col-lg-8">
                 
                    {% for c in categories %}    
                    <a href="{% url 'core:category-product-list' c.cid %}">
                        <div class="news-author mt-10">
                           <img src="{{c.image.url}}" alt="" class="img-fluid">
                            <div class="news-author-info">
                                <h6 class="author-title">{{c.title}}</h6>
                                <p>{{c.categ_desc}}</p>
                            </div>
                        </div></a>
                    {% endfor %}
                    
                    </a>
                </div>
        
                <div class="col-xl-4 col-lg-4">
                    <div class="news-sidebar pl-10">
                        <div class="widget">
                            <h6 class="sidebar-title">Categories</h6>
                            {% for c in categories %}
                            <ul class="n-sidebar-categories">
                                <li>
                                    <a href="{% url 'core:category-product-list' c.cid %}">
                                        <div class="single-category p-relative mb-10">
                                            {{c.title}}
                                            <span class="category-number">{{c.category.count}}</span>
                                        </div>
                                    </a>
                                </li>
                                {% endfor %}
                                <!-- Add more categories here -->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
     <!-- news-detalis-area-end  -->
{% endblock %}