{% extends 'partials/base.html' %}
{% block content %}
{% load static %}
<!-- page-banner-area-start -->
<title>{% block title %}Billie Moto | Password Reset{% endblock %}</title>

        <!-- account-area-start -->
        <div class="account-area mt-70 mb-70">
            <div class="container">

                <div class="row">
                    <div class="col-lg-6">
                        <div class="basic-login mb-50">
                            <h5 class="display-4">Forgot Password</h5>
                            <hr>

                            <form method="post">
                            {% csrf_token %}
                            {% for field in form %}
                            {{ field.errors }}
                            <label>{{field.label_tag}}</label>
                            <p>{{ field }}</p>
                            {% endfor %}



                                <button type="submit" class="tp-in-btn w-100">send confirmation link</button>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- account-area-end -->




{% endblock %}