{% extends 'partials/base.html' %}
{% block content %}
{% load static %}
<title>{% block title %}Billie Moto | Password Reset{% endblock %}</title>


        <!-- account-area-start -->
        <div class="account-area mt-70 mb-70">
            <div class="container">

                <div class="row">
                    <div class="col-lg-6">
                        <div class="basic-login mb-50">
                            <h5 class="display-4">New Password</h5>
                            <hr>
                            {% if validlink %}
                            <form method="post">
                            {% csrf_token %}
                            {% for field in form %}
                            {{ field.errors }}
                            <label>{{field.label_tag}}</label>
                            <p>{{ field }}</p>
                            {% endfor %}

                             <button type="submit" class="tp-in-btn w-100">save</button>
                            </form>
                            {% else %}
                            <p style="color:red">Invalid Token</p>
                         <p>
                             <a href="{% url 'password_reset' %}">
                                 Request a new password reset token
                             </a>
                         </p>
                            {%  endif %}
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- account-area-end -->



{% endblock %}
