{%extends 'partials/base.html'%}
{%load static%}
{%block content%}
<div class="progress-wrap">
    <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
       <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
    </svg>
 </div>

<main>
    <!-- page-banner-area-start -->
    <!-- page-banner-area-end -->

    <!-- faq-area-start -->
    <div class="faq-area mt-70 mb-60">
        <div class="container">
            <div class="row"><p style="margin-top: -10px; margin-bottom: 40px; text-align: center;"> Welcome to <span style="color: #EA5455;">Billie Moto</span>. Kindly peruse these terms and conditions with caution as the following Terms of Use will govern your usage and access of the Platform and its Services. By accessing the Platform and / or using its Services, you assent to be bound by these Terms of Use. If you do not accede to these Terms of Use, then do not access and / or use this Platform and its Services.
                                                Gaining access to and use of secure or password-protected areas of the Platform and / or of its Services are limited to Buyers and / or Sellers with accounts only. You may not acquire or attempt to acquire unauthorized access to such parts of this Platform and / or Services, or to any other private information, through any methods not deliberately made available by us for your specific use.
                                               <br> </p>
                <div class="col-lg-6">
                    <div class="single-faqs mb-40">
                        <div class="faq-title">
                            <h5>Buyer</h5>
                        </div>
                        <div class="faq-content mt-10">
                            <div class="accordion" id="accordionExample1">


                                  <div class="accordion-item">
                                     <h2 class="accordion-header" id="headingTwo">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                            Account Registration
                                        </button>
                                     </h2>
                                     <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <span style="color: #EA5455;">Eligibility:</span>
                                                <p style="text-align: justify;">If you are not of legal age (below 18 years old); you must obtain consent from your parent(s) or legal guardian(s) for their acceptance of these Terms of Use and their affirmation to take responsibility for: (i) your actions; (ii) any charges apropos to your use of any of the Services or purchase of Products; and (iii) your acceptance and compliance with these Terms of Use. If you do not have consent from your parent(s) or legal guardian(s), you must cease using/accessing this Platform and its Services.
                                                </p>
                                            <span style="color: #EA5455;">Email/Password:</span>    
                                                <p style="text-align: justify;">Certain Services that are made available on the Platform require the creation of an account with us and for you to provide Personal Data. Should you decide to create an account with us, an Email and Password should be provided by you and accepted by us with absolute discretion in connection with the use of the Services and/or access to the Platform. </p>
                                            <span style="color: #EA5455;">Account Security:</span>    
                                                <p style="text-align: justify;"> You are also hereby agree to keep your Password confidential and shall be responsible for the security of your account and be accountable for any disclosure or use (whether such use is approved or not) of the account. You should apprise us forthwith if you have knowledge that or have reason to believe that your Password has been leaked or if there has been any unauthorized use of the said account or if your Personal Data requires updating.</p>
                                        </div>
                                     </div>
                                  </div>
                                  <div class="accordion-item">
                                     <h2 class="accordion-header" id="headingThree">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                            Orders and Payments
                                        </button>
                                     </h2>
                                     <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <span style="color: #EA5455;">Cancellations:</span>
                                            <p style="text-align: justify;">All Orders are considered to be irrevocable and upon submission and the Seller shall be entitled to process such Order(s) without your further consent and without any further reference or notice to you. </p>                                       
                                        </div>
                                        <div class="accordion-body">
                                            <span style="color: #EA5455;">Placing your Order:</span>
                                            <p style="text-align: justify;">You may place an Order by completing the Order form on the Platform and clicking on the “Submit Order button. Seller will not accept Orders placed in any other manner. You shall be responsible for ensuring the accuracy of the Order.</p>                                       
                                        </div>
                                        <div class="accordion-body">
                                            <span style="color: #EA5455;">Product description:</span>
                                            <p style="text-align: justify;">While we strive to provide an accurate description of the Products, we cannot absolutely ascertain the veracity of such description, as it is subject to changes by the respective Seller using our Platform.</p>                                       
                                        </div>
                                        <div class="accordion-body">
                                            <span style="color: #EA5455;">Third Party Vendors:</span>
                                            <p style="text-align: justify;">You acknowledge that parties other than Billie Moto (i.e. Third Party-Vendors or Sellers) list and sell Products on the Platform. Whether a particular Product is posted for sale on the Platform by Billie Moto or a Third-Party Vendor must be clarified on the web page in order to avoid doubt or confusion, each transaction that may lead to a potential sale of a Third-Party Vendor’s Products to a Customer shall be entered into directly and only between the Third-Party Vendor and the Customer. </p>                                       
                                        </div>
                                     </div>
                                  </div>
                                  <div class="accordion-item">
                                     <h2 class="accordion-header" id="headingFour">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                            Return / Refund / Store Credits
                                        </button>
                                     </h2>
                                     <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <span style="color: #EA5455;">Return:</span>
                                            <p style="text-align: justify;">Sellers are obliged to accept returned items should the Buyer decide not to consummate the sale; however, the item shall be returned within 3 days of its delivery and it must be in an undefiled state or otherwise the Buyer will be obligated to pay for the order and complete the transaction.</p> 
                                          
                                            <span style="color: #EA5455;"> Refund:</span>
                                            <p style="text-align: justify;">In any case the ordered item is unsatisfactory, the Buyer reserves the right to a refund, albeit only in store credits and not cash. </p>
                                            
                                            <span style="color: #EA5455;"> Store Credits:</span>
                                            <p style="text-align: justify;">These store credits can be used to purchase orders within the Platform. However, any store credits that are left unused for 6 months shall be seized and expropriated by the Admins. </p>
                                        </div>
                                     </div>
                                  </div>


                                  <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingFive">
                                       <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                        Shipping and Delivery Policy
                                       </button>
                                    </h2>
                                    <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="collapseFive" data-bs-parent="#accordionExample">
                                       <div class="accordion-body">
                                           <span style="color: #EA5455;">Product Availability:</span>
                                           <p style="text-align: justify;">Although we endeavor to maintain accurate stock counts on the Platform, a discrepancy in stock may happen from time-to-time as the Sellers may not always be able to update their inventory which can then hinder the fulfillment of all your items at the time of purchase. In this situation, the mishap in the transaction shall be rectified between the Buyer and the Seller, while we offer only our Services and reserve impunity in disputes of this ilk.</p> 
                                         
                                           <span style="color: #EA5455;"> Shipping Cost:</span>
                                           <p style="text-align: justify;">The cost of shipping the items varies according to the proximity of your delivery address from the address in which the item is dispatched. </p>
                                           
                                           <span style="color: #EA5455;"> Change of delivery address:</span>
                                           <p style="text-align: justify;">The delivery address can be changed and or modified given that it is done prior to being dispatched. An order that has already been dispatched is now beyond our responsibility and should be sorted between the courier and the Buyer.</p>
                                       </div>
                                    </div>
                                 </div>


                                 <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingSix">
                                       <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                        Inactivity Policy / Deletion of Account
                                       </button>
                                    </h2>
                                    <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="collapseSix" data-bs-parent="#accordionExample">
                                       <div class="accordion-body">
                                           <span style="color: #EA5455;">Inactivity Policy:</span>
                                           <p style="text-align: justify;">Any account that does not log any record of activity for 6 months will be rendered inactive and shall be subject for deletion. Any balance and/or store credits left on the account shall be considered abandoned and will be redirected to our account.</p>
                                           
                                           <span style="color: #EA5455;">Deletion of account:</span>
                                           <p style="text-align: justify;">Buyers reserve the right to delete their account should they desire to cease its privileges; however, an archive of its information and data will still be available in our records and it is still subject to our Data Privacy Policies.</p>
                                       </div>
                                    </div>
                                 </div>

                                 <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingSeven">
                                       <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                                        Termination of Services
                                       </button>
                                    </h2>
                                    <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="collapseSeven" data-bs-parent="#accordionExample">
                                       <div class="accordion-body">
                                           <span style="color: #EA5455;">Availability of Platform and Services:</span>
                                           <p style="text-align: justify;">We may, from time to time and without giving any justification or prior notice, update, modify, alter, suspend or discontinue the provision of or remove, whether in whole or in part, the Platform or any Services and shall not be responsible if any such update, modification, alteration, suspension or removal precludes you from accessing the Platform or Services.</p>
                                           
                                           <span style="color: #EA5455;">Termination by us:</span>
                                           <p style="text-align: justify;">With absolute discretion, we may terminate forthwith your access to the Platform and/or Services, and/or disable your Email and Password. We may debar access to the Platform and/or Services for any reason whatsoever, including a breach of any of these Terms and Conditions or where we conclude that you have transgressed or acted against any terms or conditions defined herein, or if in our opinion or the opinion of any regulatory authority that it is for the best of our interest not to continue providing the services of the Platform to you.</p>
                                           
                                           <span style="color: #EA5455;">Termination by you:</span>
                                           <p style="text-align: justify;">You may terminate these Terms and Conditions by giving a notice seven days prior to termination. Keep in mind that terminated accounts cannot be recovered and any remaining balance, including store credits, are expropriated.</p>
                                       </div>
                                    </div>
                                 </div>

                                 <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingEight">
                                       <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                                        Duties and Responsibilities
                                       </button>
                                    </h2>
                                    <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="collapseEight" data-bs-parent="#accordionExample">
                                       <div class="accordion-body">
                                           <span style="color: #EA5455;">Guidelines to the use of Platform and/or Services:</span>
                                           <p style="text-align: justify;">You agree to observe all the guidelines, notices, operating rules and policies, and instructions with regards to the use of the Services and/or access to the Platform, as well as any provisions made from time to time. We have the prerogative to make changes with these guidelines, notices, operating rules and policies, and instructions at any time; and you are expected to be aware of and confined by any of changes made to the foregoing publication of the Platform.</p>
                                           
                                           <span style="color: #EA5455;">General Terms of Use:</span><p>You accede:</p>
                                           <p style="text-align: justify;">(a) to access and/or use the Platform and/or Services only for legal purposes and in a legal manner at all times and agree to conduct any activity relating to the Platform and/or Services with decorum; and <br> <br> (b)
                                            to ensure that any information or data you created or posted on the Platform in connection with the Services is correct and take accountability for such information and data.
                                            </p>
                                           
                                           <span style="color: #EA5455;">Prohibited activities:</span> <p>You agree NOT to undertake in the following deeds:</p>
                                           <p style="text-align: justify;">(a) Impersonate any person or entity or to prevaricate your affiliation with any person or entity; <br> <br>
                                            (b) use the platform or services for illicit purposes; <br><br>
                                            (c) attempt to obtain unauthorized access to or otherwise interrupt or interfere other computer systems or networks connected to the Platform or Services;<br><br>
                                            (d) post, promote, or transmit through the Platform or Services any Restricted Materials;<br><br>
                                            (e) interference of another’s utilization of the Platform or Services;<br><br>
                                            (f) use or disperse, in any way, any software that contains, or which you have reason to infer that it contains, viruses, malware, malicious code, or any other harmful materials which may compromise or vitiate the Platform’s data or even damage or disrupt the operation of another Customer’s computer; and<br><br>
                                            (g) use the Platform or Services for purposes other than in accordance with the acceptable policies of any connected computer networks, any applicable Internet standards and any other relevant laws.
                                            </p>

                                            <span style="color: #EA5455;">Exclusion of liability:</span> 
                                            <p>Billie Moto shall not be culpable to you for any losses that can be imputed to whatsoever or howsoever causation, either directly or indirectly that is in connection with:</p>
                                            <p>(a) any access, use and/or inability to use the Platform or the Services;<br><br>
                                                (b) reliance on any data or information seen through the Platform and/or its Services. You should always be circumspect and not act on such data or information hastily;<br><br>
                                                (c) any system, server or connection failure, error, omission, interruption, delay in transmission, computer virus or other malicious, destructive, or corrupting code; and<br><br>
                                                (d) any use of or access to potentially malicious websites linked to the Platform. Clicking the link on your own volition means you should face the repercussions.
                                                </p>
                                            <span style="color: #EA5455;">At your own risk:</span>
                                            <p style="text-align: justify;">Any risk of getting misconstrued, error, damage, expense or losses resulting from the use of the Platform and/or Service is entirely your own and we shall be precluded from any liabilities.</p>

                                       </div>
                                    </div>
                                 </div>

                                 <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingNine">
                                       <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                                        Data Privacy and Security
                                       </button>
                                    </h2>
                                    <div id="collapseNine" class="accordion-collapse collapse" aria-labelledby="collapseNine" data-bs-parent="#accordionExample">
                                       <div class="accordion-body">
                                           <span style="color: #EA5455;">Privacy Notice:</span>
                                           <p style="text-align: justify;">This exists to make you privy about how we gather, utilize, divulge, store and/or process the data we collect and procure during your use of the Platform and/or its Services, regardless whether you have registered as a buyer or a seller. We will only collect, use, disclose, store and/or process your personal data in accordance with this Privacy Notice.</p>
                                           
                                           <span style="color: #EA5455;">Data Privacy and Security Agreement:</span><p>During your use of the Platform and/or its Services, you agree;</p>
                                           <p style="text-align: justify;">(a) that you have provided your consent to us to use your personal data for purposes enumerated in Clause No 8.4;<br><br>
                                            (b) to submit personal data that is accurate and not misleading specious and to also keep it updated and notify us of any alteration to the personal data that you have provided to us. We shall have the entitlement to request for substantiating documents and conduct the necessary steps to validate the personal data provided by you as part of our user verification processes or as required under law;
                                            </p>
                                           
                                           <span style="color: #EA5455;">Website Policy on Data Privacy:</span>
                                           <p style="text-align: justify;">Bille Moto takes heed that your privacy shall be safeguarded and we ensure that we do not utilize security measures that are archaic rather we implement security methods according to industry standard in order to alleviate the chances of your personal information getting compromised. We only use and divulge personal data for purposes that are within the limitations of local laws and, if required, upon obtaining your consent.</p>

                                           <span style="color: #EA5455;">Data Collection:</span><p>When you visit our website, we instantly collect certain information about your device, such as; your web browser, IP address, and cookies installed on your device. Also collected are certain information from you, including your name, billing address, shipping address, payment information, email address, and phone number. All of which are important for you to receive your order. Based on your relationship with us as a buyer the personal data which we gather from you are used for the following purposes:</p>
                                           <p style="text-align: justify;">(a) to better understand user experience with the Services and the Platform;<br><br>  
                                            (b) to improve the layout or content of the pages of the Platform and customize them for users;<br><br>  
                                            (c) to identify visitors on the Platform;<br><br>
                                            (d) to conduct data analysis, testing and research, monitoring and analyzing usage and activity trends; and<br><br>
                                            (e) to further develop our products and services.<br><br>  
                                            (f) to display your name, email, or profile on the Platform including any reviews you may post;<br><br> 
                                            (g) to respond to your queries, feedback, claims or disputes posted on the Platform.
                                            </p>

                                       </div>
                                    </div>
                                 </div>

                             </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="single-faqs mb-40">
                        <div class="faq-title">
                            <h5>Seller</h5>
                        </div>
                        </p>
                        <div class="faq-content mt-10">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="heading1">
                                   <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1" aria-expanded="false" aria-controls="collapse1">
                                       Account Registration
                                   </button>
                                </h2>
                                <div id="collapse1" class="accordion-collapse collapse" aria-labelledby="heading1" data-bs-parent="#accordionExample">
                                   <div class="accordion-body">
                                       <span style="color: #EA5455;">Eligibility:</span>
                                           <p style="text-align: justify;">If you are not of legal age (below 18 years old); you must obtain consent from your parent(s) or legal guardian(s) for their acceptance of these Terms of Use and their affirmation to take responsibility for: (i) your actions; (ii) any charges apropos to your use of any of the Services or purchase of Products; and (iii) your acceptance and compliance with these Terms of Use. If you do not have consent from your parent(s) or legal guardian(s), you must cease using/accessing this Platform and its Services.
                                           </p>
                                       <span style="color: #EA5455;">Email/Password:</span>    
                                           <p style="text-align: justify;">Certain Services that are made available on the Platform require the creation of an account with us and for you to provide Personal Data. Should you decide to create an account with us, an Email and Password should be provided by you and accepted by us with absolute discretion in connection with the use of the Services and/or access to the Platform.</p>
                                       <span style="color: #EA5455;">Account Security:</span>    
                                           <p style="text-align: justify;"> You are also hereby agree to keep your Password confidential and shall be responsible for the security of your account and be accountable for any disclosure or use (whether such use is approved or not) of the account. You should apprise us forthwith if you have knowledge that or have reason to believe that your Password has been leaked or if there has been any unauthorized use of the said account or if your Personal Data requires updating.</p>
                                   </div>
                                </div>
                            </div> 

                            <div class="accordion-item">
                                <h2 class="accordion-header" id="heading2">
                                   <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
                                    Sales / Commission / General Platform Policies
                                   </button>
                                </h2>
                                <div id="collapse2" class="accordion-collapse collapse" aria-labelledby="heading2" data-bs-parent="#accordionExample">
                                   <div class="accordion-body">
                                       <span style="color: #EA5455; text-align: justify;">Product Sales:</span>
                                           <p style="text-align: justify;">the Platform reserves the right to a 2.5% commission from the gross sale of each completed transaction.</p>
                                       <span style="color: #EA5455;">Product Description:</span>    
                                           <p style="text-align: justify;"> You are solely responsible for the veracity of your product’s description If you are suspected to be putting misleading descriptions on your products, an investigation will be conducted and a condign punishment shall be given according to the conclusion of the investigation.
                                           </p>
                                       <span style="color: #EA5455;">Cashout Policy:</span>    
                                           <p style="text-align: justify;"> The Seller is prohibited to withdraw all of his/her account’s balance and shall leave at least 10% of its total amount on the Platform in order to keep their account active.
                                           </p>
                                   </div>
                                </div>
                            </div> 

                            <div class="accordion-item">
                                <h2 class="accordion-header" id="heading3">
                                   <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                                    Return / Refund / Store Credits
                                   </button>
                                </h2>
                                <div id="collapse3" class="accordion-collapse collapse" aria-labelledby="heading3" data-bs-parent="#accordionExample">
                                   <div class="accordion-body">
                                       <span style="color: #EA5455; text-align: justify;">Return:</span>
                                           <p style="text-align: justify;">You are obliged to accept returned items should the Buyer decide not to consummate the sale unless the item is not returned within 3 days of its delivery and/or if the product has already been tampered by the Buyer.
                                        </p>
                                       <span style="color: #EA5455;">Refund:</span>    
                                           <p style="text-align: justify;">The seller is also compelled to issue a refund in store credits for unsatisfied customers.
                                        </p>
                                       <span style="color: #EA5455;">Store Credits:</span>    
                                           <p style="text-align: justify;"> These store credits can be used to purchase orders within the Platform. However, any store credits that are left unused for 6 months shall be seized and expropriated by the Admins. </p>
                                   </div>
                                </div>
                            </div> 

                            <div class="accordion-item">
                                <h2 class="accordion-header" id="heading4">
                                   <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                                    Shipping and Delivery Policy
                                   </button>
                                </h2>
                                <div id="collapse4" class="accordion-collapse collapse" aria-labelledby="heading4" data-bs-parent="#accordionExample">
                                   <div class="accordion-body">
                                       <span style="color: #EA5455; text-align: justify;">Shipping and Delivery:</span>
                                           <p style="text-align: justify;">You are solely responsible for the dispatchment of your item until relinquishing the responsibility to the courier for delivery.</p>
                                       <span style="color: #EA5455;">Contingency Policy:</span>    
                                           <p style="text-align: justify;">Should the item be damaged in transit, we do not have any accountability and the issue shall be resolved between the Seller and the Courier. </p>
                                   </div>
                                </div>
                            </div> 

                            <div class="accordion-item">
                                <h2 class="accordion-header" id="heading5">
                                   <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
                                    Inactivity Policy / Deletion of Account
                                   </button>
                                </h2>
                                <div id="collapse5" class="accordion-collapse collapse" aria-labelledby="heading5" data-bs-parent="#accordionExample">
                                   <div class="accordion-body">
                                       <span style="color: #EA5455; text-align: justify;">Inactivity Policy:</span>
                                           <p style="text-align: justify;">Any account that does not log any record of activity for 6 months will be rendered inactive and shall be subject for deletion. Any balance and/or store credits left on the account shall be considered abandoned and will be redirected to our account.</p>
                                       <span style="color: #EA5455;">Deletion of Account:</span>    
                                           <p style="text-align: justify;">Sellers reserve the right to delete their account should they desire to cease its privileges; however, an archive of its information and data will still be available in our records and it is still subject to our Data Privacy Policies. Any remaining balance left in the account will be forfeited and received by us.</p>
                                   </div>
                                </div>
                            </div> 

                            <div class="accordion-item">
                                <h2 class="accordion-header" id="heading6">
                                   <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
                                    Termination of Services
                                   </button>
                                </h2>
                                <div id="collapse6" class="accordion-collapse collapse" aria-labelledby="heading6" data-bs-parent="#accordionExample">
                                   <div class="accordion-body">
                                       <span style="color: #EA5455; text-align: justify;">Availability of Platform and Services:</span>
                                           <p style="text-align: justify;">We may, from time to time and without giving any justification or prior notice, update, modify, alter, suspend or discontinue the provision of or remove, whether in whole or in part, the Platform or any Services and shall not be responsible if any such update, modification, alteration, suspension or removal precludes you from accessing the Platform or Services.</p>
                                       <span style="color: #EA5455;">Termination by us:</span>    
                                           <p style="text-align: justify;">With absolute discretion, we may terminate forthwith your access to the Platform and/or Services, and/or disable your Email and Password. We may debar access to the Platform and/or Services for any reason whatsoever, including a breach of any of these Terms and Conditions or where we conclude that you have transgressed or acted against any terms or conditions defined herein, or if in our opinion or the opinion of any regulatory authority that it is for the best of our interest not to continue providing the services of the Platform to you.
                                        </p>
                                       <span style="color: #EA5455;">Termination by you:</span>    
                                           <p style="text-align: justify;">You may terminate these Terms and Conditions by giving a notice seven days prior to termination. Keep in mind that terminated accounts cannot be recovered and any remaining balance are expropriated.</p>
                                   </div>
                                </div>
                            </div> 

                            <div class="accordion-item">
                                <h2 class="accordion-header" id="heading7">
                                   <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse7" aria-expanded="false" aria-controls="collapse7">
                                    Duties and Responsibilities
                                   </button>
                                </h2>
                                <div id="collapse7" class="accordion-collapse collapse" aria-labelledby="heading7" data-bs-parent="#accordionExample">
                                   <div class="accordion-body">
                                       <span style="color: #EA5455; text-align: justify;">Guidelines to the use of Platform and/or Services:</span>
                                           <p style="text-align: justify;">You agree to observe all the guidelines, notices, operating rules and policies, and instructions with regards to the use of the Services and/or access to the Platform, as well as any provisions made from time to time. We have the prerogative to make changes with these guidelines, notices, operating rules and policies, and instructions at any time; and you are expected to be aware of and confined by any of changes made to the foregoing publication of the Platform.</p>
                                       <span style="color: #EA5455;">General Terms of Use: </span><p>You accede:</p>    
                                           <p style="text-align: justify;">(a) to access and/or use the Platform and/or Services only for legal purposes and in a legal manner at all times and agree to conduct any activity relating to the Platform and/or Services with decorum; and <br><br>
                                            (b) to ensure that any information or data you created or posted on the Platform in connection with the Services is correct and take accountability for such information and data.
                                            </p>
                                       <span style="color: #EA5455;">Prohibited Activities:</span> <p>You agree NOT to undertake in the following deeds:</p>    
                                           <p style="text-align: justify;">(a) Impersonate any person or entity or to prevaricate your affiliation with any person or entity; <br><br>
                                            (b) use the platform or services for illicit purposes;<br><br>
                                            (c) attempt to obtain unauthorized access to or otherwise interrupt or interfere other computer systems or networks connected to the Platform or Services;<br><br>
                                            (d) post, promote, or transmit through the Platform or Services any Restricted Materials;<br><br>
                                            (e) interference of another’s utilization of the Platform or Services;<br><br>
                                            (f) use or disperse, in any way, any software that contains, or which you have reason to infer that it contains, viruses, malware, malicious code, or any other harmful materials which may compromise or vitiate the Platform’s data or even damage or disrupt the operation of another Customer’s computer; and <br><br>  
                                            (g) use the Platform or Services for purposes other than in accordance with the acceptable policies of any connected computer networks, any applicable Internet standards and any other relevant laws.
                                            </p>
                                        <span style="color: #EA5455;">Exclusion of liability:</span> <p style="text-align: justify;">Billie Moto shall not be culpable to you for any losses that can be imputed to whatsoever or howsoever causation, either directly or indirectly that is in connection with:</p>    
                                           <p style="text-align: justify;">(a) any access, use and/or inability to use the Platform or the Services; <br><br>
                                            (b) reliance on any data or information seen through the Platform and/or its Services. You should always be circumspect and not act on such data or information hastily; <br><br>
                                            (c) any system, server or connection failure, error, omission, interruption, delay in transmission, computer virus or other malicious, destructive, or corrupting code; and <br><br>
                                            (d) any use of or access to potentially malicious websites linked to the Platform. Clicking the link on your own volition means you should face the repercussions.
                                             </p>
                                        <span style="color: #EA5455;">At your own risk:</span> 
                                           <p style="text-align: justify;">Any risk of getting misconstrued, error, damage, expense or losses resulting from the use of the Platform and/or Service is entirely your own and we shall be precluded from any liabilities.</p>
                                   </div>
                                </div>
                            </div> 

                            <div class="accordion-item">
                                <h2 class="accordion-header" id="heading8">
                                   <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse8" aria-expanded="false" aria-controls="collapse8">
                                    Data Privacy and Security
                                   </button>
                                </h2>
                                <div id="collapse8" class="accordion-collapse collapse" aria-labelledby="collapse8" data-bs-parent="#accordionExample">
                                   <div class="accordion-body">
                                       <span style="color: #EA5455;">Privacy Notice:</span>
                                       <p style="text-align: justify;">This exists to make you privy about how we gather, utilize, divulge, store and/or process the data we collect and procure during your use of the Platform and/or its Services, regardless whether you have registered as a buyer or a seller. We will only collect, use, disclose, store and/or process your personal data in accordance with this Privacy Notice.</p>
                                       
                                       <span style="color: #EA5455;">Data Privacy and Security Agreement:</span><p>During your use of the Platform and/or its Services, you agree;</p>
                                       <p style="text-align: justify;">(a) that you have provided your consent to us to use your personal data for purposes enumerated in Clause No 8.4;<br><br>
                                        (b) to submit personal data that is accurate and not misleading specious and to also keep it updated and notify us of any alteration to the personal data that you have provided to us. We shall have the entitlement to request for substantiating documents and conduct the necessary steps to validate the personal data provided by you as part of our user verification processes or as required under law;
                                        </p>
                                       
                                       <span style="color: #EA5455;">Website Policy on Data Privacy:</span>
                                       <p style="text-align: justify;">Bille Moto takes heed that your privacy shall be safeguarded and we ensure that we do not utilize security measures that are archaic rather we implement security methods according to industry standard in order to alleviate the chances of your personal information getting compromised. We only use and divulge personal data for purposes that are within the limitations of local laws and, if required, upon obtaining your consent.</p>

                                       <span style="color: #EA5455;">Data Collection:</span><p>When you visit our website, we instantly collect certain information about your device, such as; your web browser, IP address, and cookies installed on your device. Also collected are certain information from you, including your name, billing address, shipping address, payment information, email address, and phone number. All of which are important for you to receive your order. Based on your relationship with us as a buyer the personal data which we gather from you are used for the following purposes:</p>
                                       <p style="text-align: justify;">(a) to better understand user experience with the Services and the Platform;<br><br>  
                                        (b) to improve the layout or content of the pages of the Platform and customize them for users;<br><br>  
                                        (c) to identify visitors on the Platform;<br><br>
                                        (d) to conduct data analysis, testing and research, monitoring and analyzing usage and activity trends; and<br><br>
                                        (e) to further develop our products and services.<br><br>  
                                        (f) to display your name, email, or profile on the Platform including any reviews you may post;<br><br> 
                                        (g) to respond to your queries, feedback, claims or disputes posted on the Platform. <br><br>
                                        (h) to authenticate the documents you submitted to us which is pertinent for facilitating your onboarding with us as a Seller on the Platform. <br><br>
                                        (i) to display your name, username or profile on the Platform;  <br><br>
                                        (j) To verify financial transactions in relation to payments related to your account; and<br><br>
                                        (k) to facilitate the return of products to you.
                                        
                                        
                                        </p>

                                   </div>
                                </div>
                             </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- faq-area-end -->


</main>
{%endblock content%}