{%extends 'partials/base.html'%}
{%load static%}
{%block content%}


        <!-- account-area-start -->
        <div class="account-area mt-70 mb-70">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        
                        </div>
                    </div>
                    <div class="col-lg-6">
                        {% comment %} {% if messages %} {% endcomment %}
                        {%if form.errors %}
                        <div class="alert alert-danger">
                            <strong>{{form.errors}}</strong>
                        </div>
                        {%endif%}

                        <div class="basic-login">
                            <h2>Register</h2>
                            <label>Already have an account?<span><a href="{% url "userauths:sign-in" %}">  &#8203; Login</a></span></label>
                            <form method="POST" method="post">
                                {% csrf_token %}
                                <label for="name">Username<span>*</span></label>
                                {{ form.username }}
                                <label for="name">Email Address<span>*</span></label>
                                {{ form.email }}
                                <label for="name">Password<span>*</span></label>
                                {{ form.password1 }}
                                <label for="name">Confirm Password<span>*</span></label>
                                {{ form.password2 }}
                                <div class="login-action mb-10 fix">
                                    <p>Your personal data will be used to support your experience throughout this website, to manage access to your account, and for other purposes described in the <a href="{% url "core:terms" %}">terms & conditions</a>.</p>
                                </div>
                                <button type="submit" class="tp-in-btn w-100">Register & Login</button>
                            </form>

                            {% comment %} <form action="#">
                                <label for="username">Username or email address  <span>*</span></label>
                                <input id="username" type="text" placeholder="Enter Username">
                                <label for="email-id">Email Address <span>*</span></label>
                                <input id="email-id" type="text" placeholder="Email address...">
                                <label for="userpass">Password <span>*</span></label>
                                <input id="userpass" type="password" placeholder="Enter password...">
                                <div class="login-action mb-10 fix">
                                    <p>Your personal data will be used to support your experience throughout this website, to manage access to your account, and for other purposes described in the <a href="{% url "core:terms" %}">terms & conditions</a>.</p>
                                </div>
                                <a href="login.html" class="tp-in-btn w-100">Register</a>
                            </form> {% endcomment %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- account-area-end -->

    </main>
{%endblock content%}